img {
    height: 200px;
    margin: 3%;
}
h1{
    text-align: center;
    color: gray;
}
span{
    display: flex;
    justify-content: center;
}
.container {
    margin: 0px auto;
    padding: 1.2%;
    align-items: center;
    width: 900px;
    background-color: grey;
}
.container * {
    margin: 1%;
}
.row-1, .row-2, .row-3{
    display: flex;
    align-content: center;
}

.row-1{
    background-color: aquamarine;
    justify-content: space-between;
}
.row-2{
    background-color: rebeccapurple;
    justify-content: space-around;
}
.row-3{
    background-color: whitesmoke;
    justify-content: space-between;
}